*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    max-width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px;
    justify-content: flex-start;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}
h1{
    background-color: rgb(29, 29, 36);
    width: 50vw;
    padding: 30px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    color: #fff;
}
.form-control{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    gap: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.form-control input[type="text"]{
    padding: 10px 15px;
    font-size: 18px;
    color: #666;
    font-weight: bold;
    border: 1px solid #aaa;
    outline: none;

}
.container{
    width: 80vw;
    height: auto;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.shade{
    width: 180px;
    height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}
@media(max-width: 800px){
    .container{
        width: 95vw;
    }
}